<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chess Game</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="\style.css" />

  <!-- font awsome -->
  <script src="https://kit.fontawesome.com/bc6cb35e9e.js" crossorigin="anonymous"></script>

</head>

<body>
  <form action="/logout" method="post">
    <button class="btn btn-lg btn-dark" type="submit" style="width: 200px;">logout</button>
  </form>

  <section id="pricing">
    <h1>Welcome To Noam's Chess Project</h1>
    <h2 >Select Type Of Game</h2>
    <!-- <p>Simple and affordable price plans for your and your dog.</p> -->

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>1 VS 1</h3>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-handshake"></i>
            <form action="/1vs1" method="post">
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <span>Custom Time(1-120 min) : </span>
                  <input class="form-check-input" type="radio" name="radioTime" value="custom" id="flexRadioDefault1">

                </div>
                <input type="text" class="form-control" name="customTime" aria-label="Text input with checkbox">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <span>Unlimitad Time</span>
                  <!-- UNLIMITED TIME IF CHECKED -->
                  <input class="form-check-input" type="radio" name="radioTime" value="unlimited" id="flexRadioDefault2"
                    checked>

                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-text">
                  <div class="form-check form-switch form-check-reverse">
                    <input class="form-check-input" type="checkbox" name="undo" id="flexSwitchCheckReverse">
                    <!-- ABLE A BUTTON THAT UNDO MOVES -->
                    <label class="form-check-label" for="flexSwitchCheckReverse">Able Preivious Moves</label>
                  </div>
                </div>
              </div>

          </div>


          <button class="btn btn-lg btn-dark" type="submit" style="width: 100%;">Play</button>
          </form>

        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Saved Games</h3>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-chess-board"></i>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Select Game
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <% games.forEach(game=>{ %>
                  <form action="/1vs1/<%= game.id %>" method="post">
                    <li><button class="dropdown-item" type="submit">
                        <%= game.date %>
                      </button></li>
                  </form>
                  <% })%>
              </ul>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Multiplayer</h3>
          </div>
          <div class="card-body">
            <i class="fa-solid fa-people-line"></i>
            <p>In the next update</p>
            <button type="button" class="btn btn-lg btn-block btn-dark" style="width: 100%;">Play</button>
          </div>
        </div>
      </div>
    </div>
    </div>


  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="homepage.js"></script>
</body>

</html>