body {
  background-color: #E8ECEF;
  margin-top:10%;
}

.centered {
  
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.fa-chess {
  font-size: 500%;
  /* margin-bottom: 3%; */
}